.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0px 16px;
	color: var(--white);
	font-size: 16px;
	line-height: 19.5px;
	letter-spacing: -1%;
	border-radius: 8px;
	border: none;
	background: var(--gradient);
	cursor: pointer;
}

.buttonLink {
	text-decoration: none;
	outline: none;
}